<%=@post.title %>
<ul>
<% @post.categories.each do |category| %>
  <li><%= category.name%></li>
<%end%>

<p><%=@post.content%></p>
<ul>
<% @post.comments.each do |comment| %>
  <li><%= "#{comment.user.username} says: #{comment.content}"%></li>
<%end%>
<ul>
<% @post.unique_users.each do |user| %>
  <li><%=link_to user.username, user_path(user)%></li>
<%end%>
<%= form_for @comment do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.collection_select :user_id, User.all, :id, :username %>
  <%= f.fields_for :users, user.comments.build do |users_fields| %>
    <%= users_fields.text_field :username %>
  <% end %>

  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>
